server:
  port: ${PORT:5000}

base-url: /api
rollbar_token: ${ROLLBAR_TOKEN:b6aa877be0aa4e198d020e890f0ae2d8}

jwt:
  secret: ${JWT_SECRET:secret}

spring:
  application:
    name: hrManager

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/changelog-master.xml

  mvc:
    hidden-method:
      filter:
        enabled: true

  jpa:
    hibernate:
      ddl-auto: validate


springdoc:
  api-docs:
    path: /swagger.html